body {
	text-align: center;
}

h1 {
	width: 900px;
	margin: 0px auto;
}

#container {
	width: 400px;
	margin: 0px auto;
	border: 1px solid #CCCCFF;
	border-radius: 5px;
	box-shadow: 2px 2px 4px silver;
	padding: 5px;
}

span {
	display: inline-block;
	width: 150px;
	text-align: right;
}

#coauthors div {
	/* padding: 10px; */
}

button {
	float: right;
}

input {
	width: 300px;
}
